:root {
    --first-color: #fff;
    --second-color: #fff;
    --first-font: 'Poppins', sans-serif;
    --second-font: 'Rubik', sans-serif;
    --third-font: 'Merriweather', serif;
    --main-gradient: linear-gradient(0.25turn, #6833e4, #734bd1, #8257e5, #6833e4);
    --second-gradient: linear-gradient(0deg, #ccc, #fff 100%, #ccc);
}

.container {
    background-color: antiquewhite;
    height: 300vh;
    display: flex;
}

/* LADO ESQUERDO */

.main-content {
    background-color: teal;
    width: 60vw;
}

.content {
    height: 100vh;
}


/* LADO DIREITO */

.aside-content {
    background-color: darkslategray;
    width: 40vw;
    height: 100vh;
    position: fixed;
    right: 0;
}

.header-aside-content {
    width: 40vw;
    height: 10vh;
    background-image: var(--second-gradient);
}

.navigation-header ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
   
}

.navigation-header ul li {
    border-bottom: 2px solid #6833e4;
    padding-bottom: 10px;
    font-family: var(--first-font);
}

.main-aside-content {
    height: 90vh;
    background-color: white;
    display: grid;
    grid-template-rows: 2fr 5fr 1fr;
    height: 90vh;
}

.text-container-top {
    align-self: center;
    justify-content: center;
    grid-row: 1/2;
    font-family: var(--first-font);
}

.my-name {
    font-size: 4rem;
}

/* CONTATO */

.contact {
    position: sticky;
    right: 0;
    width: 40vw;
    z-index: 10;
    margin-top: 200vh;
    background-color: aquamarine;
    margin-left: -15px;
}

